<template>
  <div class="edit">
    <party-selection ref="partySidebar" />
    <settings ref="settingsSidebar" />
    <toolbar :toggleParty="toggleParty" :toggleSettings="toggleSettings" />
    <v-content class="content-wrapper">
      <v-card v-if="getRound > 0">
        <v-card-text>{{ $t('currentRound', [getRound]) }}</v-card-text>
      </v-card>
      <v-container fluid>
        <v-layout px-1>
          <v-flex sm4 pr-3>
            <strong class="caption">{{ $t('creature') }}</strong>
          </v-flex>
          <v-flex sm1 pr-3>
            <strong class="caption">{{ $t('initiative') }}</strong>
          </v-flex>
          <v-flex sm6 pr-3>
            <v-layout>
              <v-flex sm2 pr-3>
                <strong class="caption">{{ $t('hp') }}</strong>
              </v-flex>
              <v-flex sm2 pr-3>
                <strong class="caption">{{ $t('maxHp') }}</strong>
              </v-flex>
              <v-flex sm2 pr-3>
                <strong class="caption">{{ $t('energy') }}</strong>
              </v-flex>
              <v-flex sm2 pr-3>
                <strong class="caption">{{ $t('maxEnergy') }}</strong>
              </v-flex>
              <v-flex sm8 pr-3>
                <strong class="caption">{{ $t('effect') }}</strong>
              </v-flex>
              <v-flex sm1>
                <strong class="caption">{{ $t('reaction') }}</strong>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex sm1 style="text-align: right">
            <strong class="caption">{{ $t('actions') }}</strong>
          </v-flex>
        </v-layout>
        <draggable v-model="reorderedCreatures">
          <v-sheet
            class="mt-1 pa-1"
            v-for="creature in reorderedCreatures"
            :key="creature.id"
            :color="creature.active ? ('green ' + (getSettings.darkTheme ? 'darken-4' : 'lighten-4')) : ''"
          >
            <editable-creature :creature="creature" />
          </v-sheet>
        </draggable>
        <v-btn v-if="!newCreature" block @click="toggleNewCreature"><v-icon class="pr-1">mdi-plus</v-icon> {{ $t('addCreature') }}</v-btn>
        <v-btn v-else block @click="toggleNewCreature">{{ $t('close') }}</v-btn>
        <v-sheet v-if="newCreature" class="mt-1 pa-1 pt-2" slot="footer">
          <new-creature @update="toggleNewCreature" />
        </v-sheet>
      </v-container>
      <v-container fluid>
        <v-layout>
          <v-flex sm4 pr-2 v-if="getRound > 0">
            <v-btn block @click="end"><v-icon class="pr-1">mdi-close-circle</v-icon> {{ $t('endCombat') }}</v-btn>
          </v-flex>
          <v-flex sm4 pr-2 v-else>
            <v-btn block @click="start"><v-icon class="pr-1">mdi-chevron-up-circle</v-icon> {{ $t('startCombat') }}</v-btn>
          </v-flex>
          <v-flex sm4 px-2>
            <v-btn block @click="previous"><v-icon class="pr-1">mdi-chevron-left-circle</v-icon> {{ $t('previousCreature') }}</v-btn>
          </v-flex>
          <v-flex sm4 pl-2>
            <v-btn block @click="next"><v-icon class="pr-1">mdi-chevron-right-circle</v-icon> {{ $t('nextCreature') }}</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  import { getCreatures, getOrderedCreatures, getRound, getSettings, activateCreature, setRound, setParty } from '../store'
  import Toolbar from '../components/Toolbar'
  import EditableCreature from '../components/EditableCreature'
  import NewCreature from '../components/NewCreature'
  import PartySelection from '../components/PartySelection'
  import Settings from '../components/Settings'
  import { mapGetters } from 'vuex'
  import Draggable from 'vuedraggable'

  export default {
    components: {
      Draggable,
      Settings,
      PartySelection,
      NewCreature,
      EditableCreature,
      Toolbar
    },
    data () {
      return {
        newCreature: false
      }
    },
    computed: {
      ...mapGetters([
        getSettings,
        getRound,
        getCreatures,
        getOrderedCreatures
      ]),
      reorderedCreatures: {
        get () {
          return this.getCreatures.slice().sort((a, b) => a.id - b.id)
        },
        set (value) {
          for (let i = 0; i < value.length; i++) {
            value[i].id = i
          }

          this.$store.commit(setParty, {
            party: {
              creatures: value
            }
          })
        }
      },
      activeCreature () {
        return this.getCreatures.find(creature => creature.active)
      },
      previousCreature () {
        if (!this.getOrderedCreatures.length) return null

        const last = this.getOrderedCreatures[this.getOrderedCreatures.length - 1]

        if (this.activeCreature) {
          const currentIndex = this.getOrderedCreatures.findIndex(creature => creature.active)

          if (currentIndex > 0) {
            return this.getOrderedCreatures[currentIndex - 1]
          }
        }

        return last
      },
      nextCreature () {
        if (!this.getOrderedCreatures.length) return null

        const [first] = this.getOrderedCreatures

        if (this.activeCreature) {
          const currentIndex = this.getOrderedCreatures.findIndex(creature => creature.active) + 1

          if (currentIndex < this.getOrderedCreatures.length) {
            return this.getOrderedCreatures[currentIndex]
          }
        }

        return first
      }
    },
    methods: {
      toggleNewCreature () {
        this.newCreature = !this.newCreature
      },
      toggleParty (state) {
        this.$refs.partySidebar.toggle(state)
      },
      toggleSettings (state) {
        this.$refs.settingsSidebar.toggle(state)
      },
      async end () {
        await this.$store.dispatch(setRound, {
          round: 0
        })
        await this.$store.dispatch(activateCreature, {
          creatureId: null
        })
      },
      async start () {
        if (this.getOrderedCreatures.length) {
          const [first] = this.getOrderedCreatures
          await this.$store.dispatch(setRound, {
            round: 1
          })
          await this.$store.dispatch(activateCreature, {
            creatureId: first.id
          })
        }
      },
      async previous () {
        if (this.getOrderedCreatures.length) {
          const previous = this.previousCreature

          if (previous.id === this.getOrderedCreatures[this.getOrderedCreatures.length - 1].id) {
            await this.$store.dispatch(setRound, {
              round: this.getRound > 1 ? this.getRound - 1 : 1
            })
          }

          await this.$store.dispatch(activateCreature, {
            currentCreatureId: this.activeCreature ? this.activeCreature.id : null,
            creatureId: previous.id,
            isPrevious: true
          })
        }
      },
      async next () {
        if (this.getOrderedCreatures.length) {
          const next = this.nextCreature

          if (next.id === this.getOrderedCreatures[0].id) {
            await this.$store.dispatch(setRound, {
              round: this.getRound + 1
            })
          }

          await this.$store.dispatch(activateCreature, {
            currentCreatureId: this.activeCreature ? this.activeCreature.id : null,
            creatureId: next.id
          })
        }
      }
    }
  }
</script>

<style scoped>
  /*noinspection CssUnusedSymbol*/
  .edit >>> .v-input--selection-controls .v-input__control {
    width: 100%;
  }
</style>
