<template>
  <v-container fluid ma-0 class="pa-0">
    <v-btn to="/" class="v-btn--fixed footer-align-left" fab flat>
      <v-icon medium>mdi-arrow-left</v-icon>
    </v-btn>
    <div class="footer-align-right">{{ time }}</div>
    <v-card :img="background" class="view">
      <v-layout row class="content" v-if="!overflow">
        <v-list class="pa-0" :class="{ 'transparent': background }">
          <div v-for="(creature, index) in getOrderedCreatures" :key="creature.id">
            <v-divider v-if="index > 0"></v-divider>
            <presentation-creature :creature="creature" />
          </div>
        </v-list>
      </v-layout>
      <v-layout row class="content" v-if="overflow">
        <v-list class="pa-0" :class="{ 'transparent': background }">
          <div v-for="(creature, index) in split(getOrderedCreatures, 2, 0)" :key="creature.id">
            <v-divider v-if="index > 0"></v-divider>
            <presentation-creature :creature="creature" />
          </div>
        </v-list>
        <v-divider vertical></v-divider>
        <v-list class="pa-0" :class="{ 'transparent': background }">
          <div v-for="(creature, index) in split(getOrderedCreatures, 2, 1)" :key="creature.id">
            <v-divider v-if="index > 0"></v-divider>
            <presentation-creature :creature="creature" />
          </div>
          <v-list-tile v-if="overflow && getOrderedCreatures.length % 2 !== 0" class="underflow"></v-list-tile>
          <v-divider v-if="overflow && getOrderedCreatures.length % 2 !== 0" class="blank"></v-divider>
        </v-list>
      </v-layout>
    </v-card>
    <v-card width="350px" class="indicators">
      <v-card-title v-if="getRound > 0">
        <h3>{{ $t('appName') }} | {{ $t('currentRound', [getRound]) }}</h3>
      </v-card-title>
      <v-card-title v-else>
        <h3>{{ $t('appName') }} | {{ $t('noActiveCombat') }}</h3>
      </v-card-title>
    </v-card>
  </v-container>
</template>

<script>
  import { getOrderedCreatures, getRound, getSettings, getParties } from '../store'
  import { mapGetters } from 'vuex'
  import fit from 'fit.js/fit'
  import PresentationCreature from '../components/PresentationCreature'
  import { format } from 'date-fns'

  export default {
    components: {
      PresentationCreature
    },
    computed: {
      ...mapGetters([
        getRound,
        getOrderedCreatures,
        getSettings,
        getParties
      ]),
      background () {
        const currentParty = this.getParties.find(x => x.id === this.getSettings.currentParty)

        if (currentParty) {
          return currentParty.background || this.getSettings.background
        }

        return this.getSettings.background
      }
    },
    data () {
      return {
        overflow: false,
        time: null,
        watcher: null
      }
    },
    methods: {
      split (array, numberOfSplits, indexToReturn) {
        const halfSize = Math.ceil(array.length / numberOfSplits)
        return array.slice(indexToReturn * halfSize, Math.min(halfSize * (indexToReturn + 1), array.length))
      }
    },
    mounted () {
      setInterval(() => {
        this.time = format(new Date(), this.getSettings.twentyFourHour ? "k:mm:ss" : "h:mm:ss aaa")
      }, 10)

      this.watcher = fit(document.querySelector('.content'), document.querySelector('.view'), {
        hAlign: fit.CENTER,
        vAlign: fit.CENTER,
        cover: false,
        watch: true,
        apply: true
      })
    },
    watch: {
      [getOrderedCreatures]: {
        handler () {
          this.overflow = this.getOrderedCreatures.length >= 8
          setTimeout(() => {
            window.dispatchEvent(new Event('resize'))
            this.watcher.trigger()
          })
        },
        immediate: true
      }
    }
  }
</script>

<style scoped>
  .footer-align-left {
    bottom: 0;
    left: 0;
    height: 36px;
    width: 36px;
    padding: .25rem;
    margin-left: 1.5rem;
  }

  .footer-align-right {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 36px;
    z-index: 999;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .25rem;
    margin-right: 1.5rem;
  }

  .view {
    background-color: #303030;
    width: 100%;
    height: calc(100vh - 36px);
  }

  .indicators {
    position: absolute;
    left: calc(50% - 175px);
    top: 0;
    z-index: 999;
  }

  .indicators * {
    justify-content: center;
  }

  .content {
    padding: 1rem;
    width: 650px;
  }

  /*noinspection CssUnusedSymbol*/
  .content .v-list {
    width: 100%;
  }

  .transparent {
    opacity: .85;
  }

  .underflow {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
  }

  .blank {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
  }

  .theme--dark .underflow {
    background-color: #303030 !important;
    border-color: #303030 !important;
  }

  .theme--dark .blank {
    background-color: #303030 !important;
    border-color: #303030 !important;
  }
</style>
