<template>
  <v-app id="app" :dark="getSettings.darkTheme">
    <router-view></router-view>
    <v-footer class="pa-3 justify-center" app>
      <v-btn flat small href="https://binar.ca" target="_blank" class="text--darken-2 grey--text">
        <i18n path="appAuthor" tag="label">
          <v-icon small>mdi-heart</v-icon>
        </i18n>
      </v-btn>
    </v-footer>
  </v-app>
</template>

<script>
  import { getSettings, initializeSync } from '../store'
  import { mapGetters } from 'vuex'

  export default {
    computed: {
      ...mapGetters({
        getSettings
      })
    },
    async mounted () {
      return this.$store.dispatch(initializeSync)
    },
    watch: {
      'getSettings.language': {
        handler (value) {
          this.$i18n.locale = value
          document.documentElement.setAttribute('lang', value)
          document.querySelector('title').innerText = this.$t('appName')
        },
        immediate: true
      }
    }
  }
</script>

<style>
  html {
    overflow-y: auto !important;
  }

  .v-btn__content > label {
    cursor: pointer;
    text-transform: none;
  }
</style>
