<template>
  <v-form ref="form">
    <v-layout>
      <v-flex sm4 pr-3>
        <v-layout align-baseline>
          <v-flex xs12>
            <v-text-field
              class="pt-0"
              name="CreatureName"
              v-model="creature.name"
              @input="editCreature"
              hide-details
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex sm1 pr-3>
        <v-text-field
          class="pt-0"
          ref="order"
          name="CreatureInitiative"
          v-model="creature.order"
          @input="editCreature"
          :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex sm6 pr-3>
        <editable-creature-status @update="editCreature" v-for="(status, index) in creature.status" :key="status.id" :creature="creature" :index="status.id" :first="index === 0" />
      </v-flex>
      <v-flex sm1>
        <v-layout mt-1>
          <v-flex />
          <v-icon @click="addStatus" :title="$t('addCreature')">mdi-plus</v-icon>
          <v-icon @click="removeCreature" :title="$t('deleteCreature')">mdi-delete</v-icon>
          <editable-creature-menu v-model="creature" @update="updateCreature" />
        </v-layout>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
  import { editCreature, removeCreature } from '../store'
  import EditableCreatureStatus from './EditableCreatureStatus'
  import EditableCreatureMenu from './EditableCreatureMenu'

  export default {
    components: { EditableCreatureStatus, EditableCreatureMenu },
    data () {
      return {
        editOpen: false
      }
    },
    methods: {
      async addStatus () {
        this.creature.status = [...this.creature.status, {
          id: this.creature.status.length ? Math.max(...this.creature.status.map(status => status.id)) + 1 : 1,
          hp: 0,
          maxHp: 0,
          energy: 0,
          maxEnergy: 0,
          reaction: true,
          states: []
        }]
        this.editCreature()
      },
      async updateCreature (creature) {
        await this.$store.dispatch(editCreature, {
          creature
        })
      },
      async editCreature () {
        if (this.$refs.form.validate()) {
          await this.$store.dispatch(editCreature, {
            creature: this.creature
          })
        }
      },
      async removeCreature () {
        if (this.creature.status.length > 1) {
          this.creature.status = this.creature.status.filter((_, index) => index !== 0)
          await this.$store.dispatch(editCreature, {
            creature: this.creature
          })
        } else {
          await this.$store.dispatch(removeCreature, {
            creature: this.creature
          })
        }
      }
    },
    props: {
      creature: {
        type: Object,
        required: true
      }
    }
  }
</script>
