<template>
  <v-form class="form" ref="form">
    <v-layout align-baseline>
      <v-flex sm2 pr-3>
        <v-text-field
          class="pt-0"
          ref="hp"
          v-model="hp"
          @input="editCreature"
          :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex sm2 pr-3>
        <v-text-field
          class="pt-0"
          ref="maxHp"
          v-model="maxHp"
          @input="editCreature"
          :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex sm2 pr-3>
        <v-text-field
          class="pt-0"
          ref="energy"
          v-model="energy"
          @input="editCreature"
          :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex sm2 pr-3>
        <v-text-field
          class="pt-0"
          ref="maxEnergy"
          v-model="maxEnergy"
          @input="editCreature"
          :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex sm8 pr-3>
        <v-select
          class="pt-0"
          v-model="status.states"
          @input="editCreature"
          :items="creatureState"
          chips
          small-chips
          deletable-chips
          return-object
          hide-details
          :item-text="item => $t(`status.${item.name}`)"
          multiple
        >
          <template v-slot:selection="{ item, index, parent }">
            <status-chip
              small
              close
              :item="status.states[index]"
              classes="v-chip--select-multi"
              @close="() => removeItem(item, index, parent)"
              @click="event => clickItem(event, index, parent)"
            />
            <editable-creature-status-menu v-model="status.states[index]" :open="dialog[index]" @update="value => saveState(index, value)" @close="() => dialog[index] = false" />
          </template>
        </v-select>
      </v-flex>
      <v-flex sm1 align-self-center>
        <v-checkbox
          class="pt-0 my-0"
          v-model="status.reaction"
          @change="editCreature"
          hide-details
        ></v-checkbox>
      </v-flex>
    </v-layout>
    <v-layout v-if="!first" class="actions">
      <v-flex />
      <v-icon class="mx-4" @click="removeStatus" :title="$t('deleteCreature')">mdi-delete</v-icon>
    </v-layout>
  </v-form>
</template>

<script>
  import { mapGetters } from 'vuex'
  import EditableCreatureStatusMenu from './EditableCreatureStatusMenu'
  import StatusChip from './StatusChip'
  import creatureState from '../creatureState'
  import { delay } from '../delay'
  import { editCreature, getSettings } from '../store'

  const isValidNumber = value => /[-+]?\d+/.test(value)

  export default {
    components: { EditableCreatureStatusMenu, StatusChip },
    computed: {
      ...mapGetters({
        getSettings,
      }),
      hp: {
        get () {
          return this.status.hp
        },
        set: delay(function (value) {
          if (!isValidNumber(value)) return

          // eslint-disable-next-line no-console
          // console.log('HP', value, this.status.hp, value.startsWith('-') ? 'Subtraction' : value.startsWith('+') ? 'Addition' : 'Substitution')

          if (value.startsWith('-')) this.status.hp -= +value.replace('-', '')
          else if (value.startsWith('+')) this.status.hp -= -value.replace('+', '')
          else this.status.hp = value

          if (this.getSettings.autoStatusOnHpDepleted && this.status.maxHp > 0 && this.status.hp <= 0) {
            this.status.states = [
              ...this.status.states.filter(x => x.id !== this.getSettings.autoStatusOnHpDepleted.id),
              { ...this.getSettings.autoStatusOnHpDepleted }
            ]
          }
        })
      },
      maxHp: {
        get () {
          return this.status.maxHp
        },
        set: delay(function (value) {
          if (!isValidNumber(value)) return
          
          // eslint-disable-next-line no-console
          // console.log('Max HP', value, this.status.maxHp, value.startsWith('-') ? 'Subtraction' : value.startsWith('+') ? 'Addition' : 'Substitution')

          if (value.startsWith('-')) this.status.maxHp -= +value.replace('-', '')
          else if (value.startsWith('+')) this.status.maxHp -= -value.replace('+', '')
          else this.status.maxHp = value
        })
      },
      energy: {
        get () {
          return this.status.energy
        },
        set: delay(function (value) {
          if (!isValidNumber(value)) return

          // eslint-disable-next-line no-console
          // console.log('Energy', value, this.status.energy, value.startsWith('-') ? 'Subtraction' : value.startsWith('+') ? 'Addition' : 'Substitution')

          if (value.startsWith('-')) this.status.energy -= +value.replace('-', '')
          else if (value.startsWith('+')) this.status.energy -= -value.replace('+', '')
          else this.status.energy = value

          if (this.getSettings.autoStatusOnEnergyDepleted && this.status.maxEnergy > 0 && this.status.energy <= 0) {
            this.status.states = [
              ...this.status.states.filter(x => x.id !== this.getSettings.autoStatusOnEnergyDepleted.id),
              { ...this.getSettings.autoStatusOnEnergyDepleted }
            ]
          }
        })
      },
      maxEnergy: {
        get () {
          return this.status.maxEnergy
        },
        set: delay(function (value) {
          if (!isValidNumber(value)) return
          
          // eslint-disable-next-line no-console
          // console.log('Max Energy', value, this.status.maxEnergy, value.startsWith('-') ? 'Subtraction' : value.startsWith('+') ? 'Addition' : 'Substitution')

          if (value.startsWith('-')) this.status.maxEnergy -= +value.replace('-', '')
          else if (value.startsWith('+')) this.status.maxEnergy -= -value.replace('+', '')
          else this.status.maxEnergy = value
        })
      },
      status () {
        return this.creature.status.find(status => status.id === this.index)
      }
    },
    data () {
      return {
        creatureState: creatureState.sort((a, b) => a.name.localeCompare(b.name)),
        dialog: Array.from({ length: this.status ? this.status.states.length : 0 }, () => false)
      }
    },
    methods: {
      clickItem (event, index, parent) {
        event.stopPropagation()
        this.dialog[index] = true
        parent.selectedIndex = index
      },
      removeItem (item, index, parent) {
        this.dialog[index] = false
        parent.onChipInput(item)
      },
      async removeState (id) {
        this.status.states = this.status.states.filter(state => state.id !== id)
        this.editCreature()
      },
      async saveState (index, state) {
        const statusIndex = this.creature.status.findIndex(status => status.id === this.index)
        this.creature.status[statusIndex].states[index] = state
        this.updateCreature()
      },
      async removeStatus () {
        this.creature.status = this.creature.status.filter(status => status.id !== this.index)
        this.editCreature()
      },
      async updateCreature () {
        return this.$store.dispatch(editCreature, {
          creature: this.creature
        })
      },
      async editCreature () {
        if (this.$refs.form.validate()) {
          return this.$store.dispatch(editCreature, {
            creature: this.creature
          })
        }
      }
    },
    props: {
      creature: {
        type: Object,
        required: true
      },
      index: {
        type: Number,
        required: true
      },
      first: {
        type: Boolean,
        required: true
      }
    },
    watch: {
      'status.states.length': {
        handler (value) {
          this.dialog = Array.from({ length: value }, () => false)
        },
        immediate: true
      }
    }
  }
</script>

<style scoped>
  .form {
    position: relative;
  }

  .actions {
    position: absolute;
    right: calc(-16.6666666666666% - 19px);
    top: 0;
    height: 2.5rem;
    width: calc(16.6666666666666% + 3px);
  }
</style>
