<template>
  <v-dialog v-model="open" max-width="600px">
    <template v-slot:activator="{ on }">
      <v-icon v-on="on" :title="$t('openMenu')">mdi-dots-vertical</v-icon>
    </template>
    <v-card>
      <v-card-title>
        <h3>{{ $t('creatureProperties') }}</h3>
      </v-card-title>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12>
            <v-text-field :label="$t('creatureName')" v-model="_value.name" />
          </v-flex>
          <v-flex xs12>
            <v-text-field :label="$t('creatureImage')" v-model="_value.avatar" />
          </v-flex>
          <v-flex xs6>
            <v-switch :label="$t('nameVisible')" v-model="_value.nameVisible" />
          </v-flex>
          <v-flex xs6>
            <v-switch :label="$t('hpVisible')" v-model="_value.hpVisible" />
          </v-flex>
          <v-flex xs6>
            <v-switch :label="$t('statusVisible')" v-model="_value.statusVisible" />
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn flat @click="save">{{ $t('save') }}</v-btn>
        <v-btn flat @click="close">{{ $t('close') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data () {
      return {
        open: false
      }
    },
    props: {
      value: {
        type: Object,
        required: true
      }
    },
    computed: {
      _value () {
        return { ...this.value }
      }
    },
    methods: {
      save () {
        this.$emit('update', this._value)
        this.close()
      },
      close () {
        this.open = false
      }
    }
  }
</script>
