<template>
  <v-dialog v-model="_open" max-width="600px">
    <v-card>
      <v-card-title>
        <h3>{{ $t('statusProperties', [$t(`status.${_value.name}`)]) }}</h3>
      </v-card-title>
      <v-card-text>
        <v-layout wrap>
          <v-flex px-2 xs6 v-if="_value.id === 35 || _value.id === 36">
            <v-text-field :label="$t('statusName')" v-model="_value.customName" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.duration !== undefined">
            <v-text-field type="number" :label="$t('statusDuration')" v-model.number="_value.duration" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.duration !== undefined">
            <v-select :label="$t('statusDurationUnit')" :items="durationUnits" return-object :item-text="item => $tc(`duration.${item.id}`, _value.duration)" v-model="_value.durationUnit" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.source !== undefined">
            <v-text-field :label="$t('statusSource')" v-model="_value.source" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.dice !== undefined">
            <v-text-field :label="$t('statusDice')" v-model="_value.dice" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.effect !== undefined">
            <v-text-field :label="$t('statusEffect')" v-model="_value.effect" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.exhaustion !== undefined">
            <v-text-field type="number" :label="$t('statusExhaustion')" v-model.number="_value.exhaustion" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.deathSaves !== undefined">
            <v-text-field type="number" :label="$t('statusDeathSaveSuccess')" v-model.number="_value.deathSaves[0]" />
          </v-flex>
          <v-flex px-2 xs6 v-if="_value.deathSaves !== undefined">
            <v-text-field type="number" :label="$t('statusDeathSaveFailure')" v-model.number="_value.deathSaves[1]" />
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn flat @click="save">{{ $t('save') }}</v-btn>
        <v-btn flat @click="close">{{ $t('close') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import durationUnits from '../durationUnits'

  export default {
    data () {
      return {
        durationUnits
      }
    },
    props: {
      value: {
        type: Object,
        required: true
      },
      open: {
        type: Boolean,
        required: true
      }
    },
    computed: {
      _value () {
        return { ...this.value }
      },
      _open: {
        get () {
          return this.open
        },
        set (value) {
          if (!value) this.$emit('close')
        }
      }
    },
    methods: {
      save () {
        this.$emit('update', this._value)
        this.close()
      },
      close () {
        this._open = false
      }
    }
  }
</script>
