<template>
  <v-form ref="form">
    <v-layout align-baseline>
      <v-flex sm4 pr-3>
        <v-layout align-baseline>
          <v-flex xs12>
            <v-text-field
              class="pt-0"
              :placeholder="$t('creatureName')"
              v-model="name"
              hide-details
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex sm1 pr-3>
        <v-text-field
          class="pt-0"
          placeholder="00"
          v-model="order"
          :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex sm6 pr-3>
        <v-layout align-baseline>
          <v-flex sm2 pr-3>
            <v-text-field
              class="pt-0"
              placeholder="00"
              v-model="hp"
              :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
              hide-details
            ></v-text-field>
          </v-flex>
          <v-flex sm2 pr-3>
            <v-text-field
              class="pt-0"
              placeholder="00"
              v-model="maxHp"
              :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
              hide-details
            ></v-text-field>
          </v-flex>
          <v-flex sm2 pr-3>
            <v-text-field
              class="pt-0"
              placeholder="00"
              v-model="energy"
              :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
              hide-details
            ></v-text-field>
          </v-flex>
          <v-flex sm2 pr-3>
            <v-text-field
              class="pt-0"
              placeholder="00"
              v-model="maxEnergy"
              :rules="[v => !isNaN(v) || $t('valueMustBeNumber')]"
              hide-details
            ></v-text-field>
          </v-flex>
          <v-flex sm9 pr-3></v-flex>
        </v-layout>
      </v-flex>
      <v-flex sm1>
        <v-layout>
          <v-flex />
          <v-icon class="mr-4" @click="addCreature" :title="$t('addCreature')">mdi-arrow-up</v-icon>
          <editable-creature-menu v-model="$data" @update="setCreatureData" />
        </v-layout>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
  import { addCreature, getCreatures, getSettings } from '../store'
  import { mapGetters } from 'vuex'
  import EditableCreatureMenu from './EditableCreatureMenu'

  export default {
    components: { EditableCreatureMenu },
    computed: {
      ...mapGetters({
        getCreatures,
        getSettings,
      })
    },
    data() {
      return {
        name: '',
        avatar: '',
        order: '',
        hp: '',
        maxHp: '',
        energy: '',
        maxEnergy: '',
        nameVisible: true,
        hpVisible: false,
        statusVisible: false
      }
    },
    methods: {
      setCreatureData (data) {
        this.name = data.name
        this.avatar = data.avatar
        this.nameVisible = data.nameVisible
        this.hpVisible = data.hpVisible
        this.statusVisible = data.statusVisible
      },
      async addCreature() {
        if (this.$refs.form.validate()) {
          const creature = {
            id: this.getCreatures.length ? Math.max(...this.getCreatures.map(creature => creature.id)) + 1 : 1,
            name: this.name,
            avatar: this.avatar,
            order: +this.order,
            status: [
              {
                id: 1,
                hp: +this.hp,
                maxHp: +this.maxHp,
                energy: +this.energy,
                maxEnergy: +this.maxEnergy,
                states: []
              }
            ],
            nameVisible: this.nameVisible,
            hpVisible: this.hpVisible,
            statusVisible: this.statusVisible,
            active: false
          }
          this.name = ''
          this.avatar = ''
          this.order = ''
          this.hp = ''
          this.maxHp = ''
          this.energy = ''
          this.maxEnergy = ''
          this.nameVisible = !this.getSettings.hideName
          this.hpVisible = !this.getSettings.hideHP
          this.statusVisible = !this.getSettings.hideState
          await this.$store.dispatch(addCreature, {
            creature
          })
          return this.$emit('update', creature)
        }
      }
    },
    watch: {
      [getSettings]: {
        handler (settings) {
          this.nameVisible = !settings.hideName
          this.hpVisible = !settings.hideHP
          this.statusVisible = !settings.hideState
        },
        immediate: true,
        deep: true
      }
    }
  }
</script>
