<template>
  <v-navigation-drawer v-model="shown" right absolute temporary width="500">
    <v-list class="pa-1">
      <v-list-tile avatar>
        <v-list-tile-avatar>
          <v-btn @click="toggle(false)" class="v-btn--fixed" fab flat>
            <v-icon medium>mdi-close</v-icon>
          </v-btn>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>
            <h3>{{ $t('partySelection') }}</h3>
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list class="pt-0">
      <v-divider></v-divider>
      <Party :party="party" v-for="party in getParties" :key="party.id" />
      <v-divider></v-divider>
      <v-btn class="ma-0" flat block @click="save(null)"><v-icon>mdi-plus</v-icon> {{ $t('addParty') }}</v-btn>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Party from './Party'
  import { addParty, getCreatures, getParties } from '../store'

  export default {
    components: {
      Party
    },
    computed: {
      ...mapGetters({
        getCreatures,
        getParties
      })
    },
    data () {
      return {
        shown: false
      }
    },
    methods: {
      async save () {
        return this.$store.dispatch(addParty, {
          party: {
            id: this.getParties.length ? Math.max(...this.getParties.map(party => party.id)) + 1 : 1,
            name: '',
            background: '',
            creatures: this.getCreatures
          }
        })
      },
      toggle (state) {
        this.shown = state
      }
    }
  }
</script>

<style scoped>
  /*noinspection CssUnusedSymbol*/
  .big >>> .v-list__tile {
    height: 60px;
  }
</style>
