<template>
  <v-list-group prepend-icon="mdi-account-group">
    <template v-slot:activator>
      <v-list-tile class="big">
        <v-list-tile-content>
          <v-list-tile-title>{{ party.name || $t('unnamedParty') }}</v-list-tile-title>
          <v-list-tile-title>{{ $tc('partyCount', party.creatures ? party.creatures.length : 0, [party.creatures ? party.creatures.length : 0]) }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
    <v-list-tile v-for="creature in party.creatures" :key="creature.id">
      <v-list-tile-avatar>{{ creature.order }}</v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title>{{ creature.name }}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
    <v-list-tile>
      <v-list-tile-content>
        <v-list-tile-title class="fill-height">
          <v-text-field v-model="party.name" :label="$t('partyName')"></v-text-field>
          <v-text-field v-model="party.background" :label="$t('partyBackground')"></v-text-field>
        </v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
    <v-list-tile>
      <v-list-tile-content>
        <v-list-tile-title class="fill-height">
          <v-btn small flat @click="select" :title="$t('selectParty')"><v-icon>mdi-transfer-left</v-icon></v-btn>
          <v-btn small flat @click="replace" :title="$t('replaceParty')"><v-icon>mdi-transfer-right</v-icon></v-btn>
          <v-btn small flat @click="save" :title="$t('saveParty')"><v-icon>mdi-content-save</v-icon></v-btn>
          <v-btn small flat @click="remove" :title="$t('deleteParty')"><v-icon>mdi-delete</v-icon></v-btn>
        </v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list-group>
</template>

<script>
  import { editParty, getCreatures, removeParty, replaceParty, setParty } from '../store'
  import { mapGetters } from 'vuex'

  export default {
    props: {
      party: {
        required: true
      }
    },
    computed: {
      ...mapGetters({
        getCreatures
      })
    },
    methods: {
      async select () {
        return this.$store.dispatch(setParty, {
          party: this.party
        })
      },
      async remove () {
        return this.$store.dispatch(removeParty, {
          party: this.party
        })
      },
      async replace () {
        return this.$store.dispatch(replaceParty, {
          party: {
            id: this.party.id,
            name: this.party.name,
            background: this.party.background,
            creatures: this.getCreatures
          }
        })
      },
      async save () {
        return this.$store.dispatch(editParty, {
          party: {
            id: this.party.id,
            name: this.party.name,
            background: this.party.background,
            creatures: this.party.creatures
          }
        })
      }
    }
  }
</script>

<style scoped>
    .fill-height {
        height: fit-content !important;
        display: flex;
        justify-content: space-between;
    }
</style>
