<template>
  <v-sheet tile :color="creature.active ? ('green ' + (getSettings.darkTheme ? 'darken-4' : 'lighten-4')) : ''">
    <v-list-tile>
      <v-divider v-if="creature.active" class="active" vertical color="green" />
      <v-avatar v-if="getCreatures.some(x => x.avatar)" size="36" class="avatar">
        <v-img :src="creature.avatar"></v-img>
      </v-avatar>
      <v-list-tile-content>
        <v-list-tile-title>
          {{ creature.nameVisible ? creature.name : '???' }}{{ creature.status.length > 1 ? ` x${creature.status.length}` : '' }}
        </v-list-tile-title>
        <v-layout align-end class="status-list">
          <presentation-creature-status v-for="(_, index) in creature.status" :key="index" :creature="creature" :index="index" />
        </v-layout>
      </v-list-tile-content>
      <v-list-tile-action-text style="width: 12px; text-align: right">{{ getInitiative(creature) }}</v-list-tile-action-text>
    </v-list-tile>
  </v-sheet>
</template>

<script>
  import { getCreatures, getSettings } from '../store'
  import PresentationCreatureStatus from './PresentationCreatureStatus'
  import { mapGetters } from 'vuex'

  export default {
    components: { PresentationCreatureStatus },
    computed: {
      ...mapGetters([
        getSettings,
        getCreatures
      ])
    },
    methods: {
      getInitiative (creature) {
        return Math.floor(creature.order)
      }
    },
    props: {
      creature: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style scoped>
  .active {
    position: absolute;
    border-right-width: 4px;
    margin-left: -16px;
  }

  .avatar {
    margin-left: -8px;
    margin-right: 8px;
  }

  .status-list {
    width: 100%;
  }
</style>
