<template>
  <v-flex class="status">
    <div class="status-chips">
      <status-chip
        v-for="state in creature.status[index].states"
        :key="state.id"
        :item="state"
        :censor="!creature.statusVisible && !isDyingOrDead"
        classes="extra-small"
      />
    </div>
    <v-layout class="progress" v-if="creature.hpVisible">
      <v-progress-linear style="width: 100%" :active="!!hpPercent" :value="hpPercent" color="red" height="4"></v-progress-linear>
      <v-progress-linear :style="{ width: hpOverBarWidth }" v-if="!!hpOverBarWidth" :active="!!hpPercent" :value="100" color="yellow" height="4"></v-progress-linear>
    </v-layout>
    <v-layout class="progress" v-if="creature.hpVisible">
      <v-progress-linear style="width: 100%" :active="!!energyPercent" :value="energyPercent" color="blue" height="3"></v-progress-linear>
    </v-layout>
    <div ref="overlay" class="overlay">
      <div class="blood" v-show="isDyingOrDead || !hpPercent"></div>
      <v-divider vertical v-if="index < creature.status.length - 1" :key="index"></v-divider>
      <v-icon class="right pa-1 light-green--text" style="font-size: 12px" v-if="creature.status[index].reaction">mdi-alpha-r-circle-outline</v-icon>
    </div>
  </v-flex>
</template>

<script>
  import StatusChip from './StatusChip'

  export default {
    components: { StatusChip },
    computed: {
      hpPercent () {
        if (+this.creature.status[this.index].maxHp > 0 && !this.isDyingOrDead) {
          const percentValue = +this.creature.status[this.index].hp / +this.creature.status[this.index].maxHp
          return 100 * (percentValue > 1 ? 1 : percentValue)
        }

        return 0
      },
      energyPercent () {
        if (+this.creature.status[this.index].maxEnergy > 0) {
          const percentValue = +this.creature.status[this.index].energy / +this.creature.status[this.index].maxEnergy
          return 100 * (percentValue > 1 ? 1 : percentValue)
        }

        return 0
      },
      hpOverBarWidth () {
        if (+this.creature.status[this.index].maxHp > 0 && !this.isDyingOrDead) {
          const percentValue = +this.creature.status[this.index].hp / +this.creature.status[this.index].maxHp - 1
          return 100 * (percentValue > 0 ? percentValue : 0) + '%'
        }

        return '0'
      },
      isDyingOrDead () {
        const isDying = this.creature.status[this.index].states.find(x => x.id === 16)
        if (isDying) return true

        const isDead = this.creature.status[this.index].states.find(x => x.id === 17)
        if (isDead) return true

        return false
      }
    },
    mounted () {
      if (this.$refs.overlay) {
        this.$refs.overlay.style.setProperty('--data-width', this.$el.clientWidth + 8 + 'px')
        this.$refs.overlay.style.setProperty('--data-rotation', Math.floor(Math.random() * 360) + 'deg')
      }
    
      window.addEventListener('resize', () => {
        if (this.$refs.overlay) {
          this.$refs.overlay.style.setProperty('--data-width', this.$el.clientWidth + 8 + 'px')
        }
      })
    },
    props: {
      creature: {
        type: Object,
        required: true
      },
      index: {
        type: Number,
        required: true
      }
    },
    watch: {
      creature: {
        handler () {
          if (this.$refs.overlay) {
            this.$refs.overlay.style.setProperty('--data-width', this.$el.clientWidth + 8 + 'px')
          }
        },
        deep: true
      }
    }
  }
</script>

<style scoped>
  .status {
    width: 100%;
    margin-right: 1rem;
    height: 22px;
  }

  .status-chips {
    overflow: hidden;
    height: 12px;
  }

  .progress + .progress {
    margin-top: -2px;
  }

  /*noinspection CssUnusedSymbol*/
  .v-chip.extra-small {
    height: 12px;
    font-size: 7px;
    margin: -14px 1px 0;
  }

  /*noinspection CssUnusedSymbol*/
  .v-chip.extra-small >>> .v-chip__content {
    height: 12px;
    padding: 0 6px;
  }

  /*noinspection CssUnusedSymbol*/
  .v-progress-linear {
    margin: 2px 0 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--data-width);
    overflow: hidden;
  }

  /*noinspection CssUnusedSymbol*/
  .overlay >>> .v-divider {
    position: absolute;
    right: 0;
  }

  .blood::before {
    content: '';
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    transform: rotate(var(--data-rotation));
    background-image: url('~@/assets/blood.png');
    background-size: cover;
    background-position: center;
    opacity: 0.75;
  }
</style>
