<template>
  <v-navigation-drawer v-model="shown" right absolute temporary width="500">
    <v-list class="pa-1">
      <v-list-tile avatar>
        <v-list-tile-avatar>
          <v-btn @click="toggle(false)" class="v-btn--fixed" fab flat>
            <v-icon medium>mdi-close</v-icon>
          </v-btn>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>
            <h3>{{ $t('settings') }}</h3>
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-divider></v-divider>
    <v-container>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('language') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-select :items="[{ text: $t('locale.english'), value: 'en' }, { text: $t('locale.french'), value: 'fr' }]" v-model="getSettings.language" @input="save" />
        </v-flex>
      </v-layout>
      <v-flex xs12>
        <v-text-field :label="$t('presentationBackground')" v-model="getSettings.background" @change="save" />
      </v-flex>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('updateDelay') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-slider
            v-model="getSettings.updateDelay"
            @change="save"
            step="100"
            max="1500"
            ticks
            class="mt-0"
            :messages="$t('updateDelayHint', [getSettings.updateDelay])"
          ></v-slider>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('colorTheme') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-switch
            v-model="getSettings.darkTheme"
            @change="save"
            :messages="getSettings.darkTheme ? $t('darkTheme') : $t('lightTheme')"
          ></v-switch>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('hideCreaturesName') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-switch
            v-model="getSettings.hideName"
            @change="save"
            :messages="getSettings.hideName ? $t('hide') : $t('show')"
          ></v-switch>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('hideCreaturesHp') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-switch
            v-model="getSettings.hideHP"
            @change="save"
            :messages="getSettings.hideHP ? $t('hide') : $t('show')"
          ></v-switch>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('hideCreaturesStatus') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-switch
            v-model="getSettings.hideState"
            @change="save"
            :messages="getSettings.hideState ? $t('hide') : $t('show')"
          ></v-switch>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('hideCreaturesDeathSave') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-switch
            v-model="getSettings.hideDeathSaves"
            @change="save"
            :messages="getSettings.hideDeathSaves ? $t('hide') : $t('show')"
          ></v-switch>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('hpDepletedStatus') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-select
            class="pt-0"
            v-model="getSettings.autoStatusOnHpDepleted"
            @input="save"
            :items="creatureState"
            chips
            small-chips
            deletable-chips
            return-object
            hide-details
            :item-text="item => $t(`status.${item.name}`)"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('energyDepletedStatus') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-select
            class="pt-0"
            v-model="getSettings.autoStatusOnEnergyDepleted"
            @input="save"
            :items="creatureState"
            chips
            small-chips
            deletable-chips
            return-object
            hide-details
            :item-text="item => $t(`status.${item.name}`)"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-layout align-center>
        <v-flex xs4>
          <p>{{ $t('clockMode') }}</p>
        </v-flex>
        <v-flex xs8>
          <v-switch
            v-model="getSettings.twentyFourHour"
            @change="save"
            :messages="getSettings.twentyFourHour ? $t('24hClockMode') : $t('12hClockMode')"
          ></v-switch>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex sm6 px-2>
          <v-btn block @click="viewJson"><v-icon class="pr-1">mdi-code-braces</v-icon> {{ $t('viewJson') }}</v-btn>
        </v-flex>
        <v-flex sm6 px-2>
          <v-btn block @click="forceSync"><v-icon class="pr-1">mdi-sync</v-icon> {{ $t('forceSync') }}</v-btn>
        </v-flex>
      </v-layout>
      <v-layout v-if="showJson">
        <v-flex>
          <v-textarea v-model="json"></v-textarea>
          <span class="red--text" v-if="hasError">{{ $t('jsonError') }}</span>
          <v-btn block v-if="modifiedJson !== json && !hasError" @click="saveJson">{{ $t('save') }}</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-navigation-drawer>
</template>

<script>
  import creatureState from '../creatureState'
  import { getSettings, getState, setSettings, forceSync } from '../store'
  import { mapGetters } from 'vuex'

  export default {
    computed: {
      ...mapGetters({
        getSettings,
        getState
      }),
      json: {
        get () {
          return JSON.stringify(this.getState, undefined, 2)
        },
        set (value) {
          this.modifiedJson = value
          
          try {
            JSON.parse(value)
            this.hasError = false
          } catch (_) {
            this.hasError = true
          }
        }
      }
    },
    data () {
      return {
        shown: false,
        showJson: false,
        modifiedJson: '',
        hasError: false,
        creatureState
      }
    },
    methods: {
      toggle (state) {
        this.shown = state
      },
      viewJson () {
        this.showJson = !this.showJson
      },
      saveJson () {
        try {
          const parsed = JSON.parse(this.modifiedJson)
          this.$store.commit(forceSync, parsed)
        } catch (_) {
          // noop
        }
      },
      forceSync () {
        return this.$store.commit(forceSync)
      },
      async save () {
        await this.$store.dispatch(setSettings, {
          settings: this.getSettings
        })
        this.modifiedJson = JSON.stringify(await this.getState, undefined, 2)
      }
    },
    async mounted () {
      this.modifiedJson = JSON.stringify(await this.getState, undefined, 2)
    }
  }
</script>
