<template>
  <v-chip
    :small="small"
    :close="close"
    :color="censor ? 'gray' : item.color"
    :light="censor ? false : !item.dark"
    :dark="censor ? true : item.dark"
    v-ripple
    tabindex="-1"
    class="status-chip"
    :class="[classes, { 'darken-2': censor || item.dark }]"
    @input="onClose"
    @click="onClick"
  >
    <span class="inner-text">{{ censor ? '???' : (item.customName || $t(`status.${item.name}`)) }}</span>
    <v-avatar v-if="!censor && pertinentInfo" :class="avatarClasses">{{ pertinentInfo }}</v-avatar>
  </v-chip>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { getSettings } from '../store'

  export default {
    props: {
      small: {
        type: Boolean,
        default: false
      },
      close: {
        type: Boolean,
        default: false
      },
      classes: {
        type: String,
        default: ''
      },
      item: {
        type: Object,
        required: true
      },
      censor: {
        type: Boolean,
        defaukt: false
      }
    },
    computed: {
      ...mapGetters([
        getSettings
      ]),
      pertinentInfo () {
        if (this.item.dice) return this.item.dice
        if (this.item.duration && this.item.durationUnit) return this.$tc(`duration.short.${this.item.durationUnit.id}`, Math.trunc(this.item.duration), [this.item.duration])
        if (this.item.duration) return this.item.duration
        if (this.item.effect) return this.item.effect
        if (this.item.exhaustion) return this.getExhaustionEffect(this.item.exhaustion)
        if (this.item.deathSaves && (!this.getSettings.hideDeathSaves || this.small)) return [...Array.from({ length: this.item.deathSaves[0] }, () => '🗸'), ...Array.from({ length: this.item.deathSaves[1] }, () => '×')].join('')
        return null
      },
      avatarClasses () {
        return this.item.dark
          ? ['white--text', this.item.color, 'darken-3']
          : ['white--text', this.item.color, 'darken-4']
      }
    },
    methods: {
      onClose (event) {
        this.$emit('close', event)
      },
      onClick (event) {
        this.$emit('click', event)
      },
      getExhaustionEffect (level) {
        switch (level) {
          case 1: return this.$t('exhaustion1')
          case 2: return this.$t('exhaustion2')
          case 3: return this.$t('exhaustion3')
          case 4: return this.$t('exhaustion4')
          case 5: return this.$t('exhaustion5')
          case 6: return this.$t('exhaustion6')
          default: return ''
        }
      }
    }
  }
</script>

<style scoped>
  .status-chip.v-chip:not(.extra-small) >>> .v-chip__content {
    padding: 0 0 0 8px;
    cursor: pointer;
  }

  .status-chip.v-chip:not(.extra-small) >>> .v-chip__content .inner-text,
  .status-chip.v-chip:not(.extra-small) >>> .v-chip__content .v-avatar {
    opacity: 0.5;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
  
  .status-chip.v-chip:not(.extra-small) >>> .v-chip__content:hover .inner-text,
  .status-chip.v-chip:not(.extra-small) >>> .v-chip__content:hover .v-avatar {
    opacity: 1;
  }

  /*noinspection CssUnusedSymbol*/
  .status-chip.v-chip >>> .v-avatar {
    height: 16px !important;
    width: unset !important;
    min-width: 16px !important;
    font-size: 10px !important;
    padding: 4px;
    border-radius: 8px;
    line-height: 10px;
    margin-left: 3px;
    margin-right: -5px;
  }
  
  /*noinspection CssUnusedSymbol*/
  .status-chip.extra-small.v-chip >>> .v-avatar {
    height: 10px !important;
    width: unset !important;
    padding: 3px;
    border-radius: 5px;
    min-width: 10px !important;
    font-size: 6px !important;
    line-height: 6px;
  }
</style>