<template>
  <div>
    <v-toolbar app>
      <v-toolbar-title>{{ $t('appName') }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn :title="$t('presentationView')" to="/view" flat icon><v-icon>mdi-presentation</v-icon></v-btn>
        <v-btn :title="$t('partyMenu')" @click="toggleParty(true)" flat icon><v-icon>mdi-account-group</v-icon></v-btn>
        <v-btn :title="$t('settingsMenu')" @click="toggleSettings(true)" flat icon><v-icon>mdi-settings</v-icon></v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    props: {
      toggleParty: {
        type: Function,
        required: true
      },
      toggleSettings: {
        type: Function,
        required: true
      }
    }
  }
</script>
